body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

.content {
    display: flex;
    justify-content: space-around;
    background-color: cornsilk;
    padding: 50px 15px;
}

.movie {
    max-width: 30%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 9px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.movieImg {
    background-size: contain;
    width: 100%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.movieName {
    padding: 0 10px;
    font-size: 20px;
    margin: 10px 0;
}

.movieYear {
    padding: 0 10px;
    font-size: 16px;
    color: #ff6a00;
    margin-top: auto;
}

.logoImg {
    max-width: 200px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.headerNavList {
    display: flex;
    gap: 40px;
    font-size: 16px;
    list-style: none;
}

.activeLink {
    text-decoration: none;
    color: #007bff;
    font-weight: 500;
}

.headerLink {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.69);
}

.headerLink:hover {
    border-bottom: 2px solid #007bff;
}

.headerBtn {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    background-color: transparent;
    padding: 10px 15px;
    font-weight: 500;
}

.headerBtn:hover {
    border: 1px solid rgb(234, 76, 134);
    background-color: rgb(234, 76, 134);
    color: #fff;
}

